Repository llmariner/job-manager, pull requests merged in 2024-11, with the labels that each got.

#287 feat(chart): productionize helm chart
  .github/workflows/ci-pre-merge.yml
  Makefile
  deployments/dispatcher/.helmignore
  deployments/dispatcher/Chart.yaml
  deployments/dispatcher/README.md
  deployments/dispatcher/templates/_helpers.tpl
  deployments/dispatcher/templates/configmap.yaml
  deployments/dispatcher/templates/deployment.yaml
  deployments/dispatcher/values.schema.json
  deployments/dispatcher/values.yaml
  deployments/server/.helmignore
  deployments/server/Chart.yaml
  deployments/server/README.md
  deployments/server/templates/deployment.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: enhancement

#289 ci(pr-labeler): change trigger to pull_request_target
  .github/workflows/pr-labeler.yml
Labels: skip-changelog

#291 ci(make): fix git-clean-check to validate the preceding target results
  common.mk
Labels: skip-changelog

#292 feat(chart): add an enable option for the dependency condition
  deployments/dispatcher/templates/_helpers.tpl
  deployments/dispatcher/values.schema.json
  deployments/dispatcher/values.yaml
  deployments/server/templates/_helpers.tpl
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: enhancement

#293 feat(server): support an enable flag for the usage sender
  deployments/server/values.schema.json
  deployments/server/values.yaml
  go.mod
  go.sum
  server/cmd/run.go
Labels: enhancement

#294 feat(mod): upgrade llmariner modules
  go.mod
  go.sum
Labels: enhancement

#297 feat(fine-tuning): bump the transformer to the latest version
  build/fine-tuning/requirements.txt
Labels: enhancement

#298 feat(fine-tuning): install autoawq
  build/fine-tuning/requirements.txt
Labels: enhancement

#300 feat(fine-tuning): make BitsAndBytesQuantization quantization optional
  build/fine-tuning/sft.py
  deployments/dispatcher/templates/configmap.yaml
  deployments/dispatcher/values.schema.json
  deployments/dispatcher/values.yaml
  dispatcher/internal/config/config.go
  dispatcher/internal/dispatcher/job_client.go
  dispatcher/internal/dispatcher/job_client_test.go
Labels: enhancement

#301 fix(chart): unset the default value of `enable`
  deployments/dispatcher/values.schema.json
  deployments/dispatcher/values.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: bug

#302 ci(release): add bump option
  .github/workflows/manual-release-pr.yaml
Labels: skip-changelog
