Repository llmariner/job-manager, pull requests merged in 2024-12, with the labels that each got.

#304 feat(dispatcher): report component status to cluster manager
  deployments/dispatcher/templates/clusterrole.yaml
  deployments/dispatcher/templates/configmap.yaml
  deployments/dispatcher/values.schema.json
  deployments/dispatcher/values.yaml
  dispatcher/cmd/run.go
  dispatcher/internal/config/config.go
  go.mod
  go.sum
Labels: enhancement

#306 fix(dispatcher): set distinct names to the controllers
  dispatcher/internal/dispatcher/batchjob.go
  dispatcher/internal/dispatcher/lifecycle_manager.go
  dispatcher/internal/dispatcher/notebook.go
Labels: bug

#307 fix: bump cluster-manager dep to fix health reporting
  go.mod
  go.sum
Labels: bug

#308 fix: use a beacon health check
  dispatcher/cmd/run.go
Labels: bug

#310 chore: bump rbac-server dep from 0.3.0 to 0.6.0
  go.mod
  go.sum
Labels: skip-changelog

#311 feat: persist schedulable envs to database
  api/v1/workspace_service.pb.go
  api/v1/workspace_service.proto
  buf.lock
  dist/api/v1/workspace_service.pb.d.ts
  server/internal/server/batch_server.go
  server/internal/server/jobs.go
  server/internal/server/notebooks.go
  server/internal/server/server.go
  server/internal/store/batchjob.go
  server/internal/store/job.go
  server/internal/store/notebook.go
  ts/api/v1/workspace_service.pb.ts
Labels: enhancement

#313 feat(api): add an API for sending the cluster status
  api/v1/job_manager_server_worker.pb.go
  api/v1/job_manager_server_worker.proto
  api/v1/job_manager_server_worker.swagger.json
  api/v1/job_manager_server_worker_grpc.pb.go
  buf.lock
  ts/api/v1/job_manager_server_worker.pb.ts
Labels: enhancement

#314 feat: implement UpdateClusterStatus
  server/internal/server/ws_server.go
  server/internal/server/ws_server_test.go
  server/internal/store/cluster.go
  server/internal/store/cluster_test.go
  server/internal/store/store.go
Labels: enhancement

#315 chore(dispatcher): remove the GetSelfCluster call
  deployments/dispatcher/templates/configmap.yaml
  deployments/dispatcher/values.schema.json
  deployments/dispatcher/values.yaml
  dispatcher/cmd/run.go
  dispatcher/internal/config/config.go
  dispatcher/internal/dispatcher/batchjob.go
  dispatcher/internal/dispatcher/notebook.go
  dispatcher/internal/dispatcher/notebook_test.go
Labels: skip-changelog
