Repository llmariner/job-manager, pull requests merged in 2025-03, with the labels that each got.

#402 feat: add the total_items fields
  api/v1/batch_service.pb.go
  api/v1/batch_service.proto
  api/v1/batch_service.swagger.json
  api/v1/fine_tuning_service.pb.go
  api/v1/fine_tuning_service.proto
  api/v1/fine_tuning_service.swagger.json
  api/v1/workspace_service.pb.go
  api/v1/workspace_service.proto
  api/v1/workspace_service.swagger.json
  buf.lock
  dist/api/v1/batch_service.pb.d.ts
  dist/api/v1/fine_tuning_service.pb.d.ts
  dist/api/v1/workspace_service.pb.d.ts
  server/internal/server/batch_server.go
  server/internal/server/fine_tuning.go
  server/internal/server/notebooks.go
  server/internal/store/batchjob.go
  server/internal/store/batchjob_test.go
  server/internal/store/job.go
  server/internal/store/job_test.go
  server/internal/store/notebook.go
  server/internal/store/notebook_test.go
  ts/api/v1/batch_service.pb.ts
  ts/api/v1/fine_tuning_service.pb.ts
  ts/api/v1/workspace_service.pb.ts
  ts/google/protobuf/descriptor.pb.ts
Labels: enhancement

#404 chore: return unauthenticated if ExtractUserInfoFromContext fails
  server/internal/server/batch_server.go
  server/internal/server/fine_tuning.go
  server/internal/server/notebooks.go
  server/internal/server/syncer_server.go
Labels: skip-changelog

#405 feat(api): generate `index.js` and `index.d.ts` in the `dist` directory
  buf.lock
  dist/index.d.ts
  dist/index.js
  ts/api/v1/job_manager_service.pb.ts
  ts/index.ts
Labels: enhancement

#409 feat: return an infeasible reason as an error
  server/internal/scheduler/scheduler.go
Labels: enhancement

#411 feat: be able to use a different bucket for training files
  dispatcher/cmd/run.go
  dispatcher/internal/dispatcher/batchjob.go
  dispatcher/internal/dispatcher/pre_processor.go
  dispatcher/internal/dispatcher/pre_processor_test.go
  dispatcher/internal/s3/client.go
Labels: enhancement

#414 chore: use --no-progress-meter for curl commands
  dispatcher/internal/dispatcher/cmd.tpl
  dispatcher/internal/dispatcher/testdata/command.basic.golden
  dispatcher/internal/dispatcher/testdata/command.hyperparameters.golden
  dispatcher/internal/dispatcher/testdata/command.multi-gpu.golden
Labels: skip-changelog

#410 fix: fix cluster_test.go
  go.mod
  go.sum
  server/internal/cache/cluster_test.go
Labels: bug

#417 chore: slim the fake job container
  build/fake-job/Dockerfile
Labels: skip-changelog

#418 chore: add a fake accelerate to fake-job container image
  build/fake-job/Dockerfile
  build/fake-job/accelerate
Labels: skip-changelog

#423 fix(fine-tuning): set pad_token to eos_token only if it is None
  build/fine-tuning/sft.py
Labels: bug

#424 feat: bump the fine-tuning image version to 1.13.1
  deployments/dispatcher/values.schema.json
  deployments/dispatcher/values.yaml
Labels: enhancement
