Repository llmariner/job-manager, pull requests merged in 2025-01, with the labels that each got.

#316 chore(server): introduce Scheduler
  server/cmd/run.go
  server/internal/k8s/client.go
  server/internal/scheduler/scheduler.go
  server/internal/server/batch_server.go
  server/internal/server/batch_server_test.go
  server/internal/server/jobs_test.go
  server/internal/server/notebooks.go
  server/internal/server/notebooks_test.go
  server/internal/server/server.go
Labels: skip-changelog

#317 feat(api): add the "gpu_nodes" field in ClusterStatus
  api/v1/job_manager_server_worker.pb.go
  api/v1/job_manager_server_worker.proto
  api/v1/job_manager_server_worker.swagger.json
  server/internal/server/ws_server.go
  server/internal/server/ws_server_test.go
  ts/api/v1/job_manager_server_worker.pb.ts
Labels: enhancement

#318 feat(api): add JobService and ListClusters
  api/v1/job_manager_server.pb.go
  api/v1/job_manager_server.proto
  api/v1/job_manager_server.swagger.json
  api/v1/job_manager_server_grpc.pb.go
  server/internal/server/server.go
  server/internal/server/server_test.go
  server/internal/store/cluster.go
  ts/api/v1/job_manager_server.pb.ts
Labels: enhancement

#319 feat(dispatcher): send cluster info to server
  deployments/dispatcher/templates/clusterrole.yaml
  dispatcher/cmd/run.go
  dispatcher/internal/clusterstatus/manager.go
  dispatcher/internal/clusterstatus/manager_test.go
  go.mod
  go.sum
Labels: enhancement

#320 feat(server): implement the scheduler
  server/internal/scheduler/scheduler.go
  server/internal/scheduler/scheduler_test.go
Labels: enhancement

#321 feat(server): Ignore stale clusters from scheduling candidates
  server/internal/scheduler/scheduler.go
Labels: enhancement

#322 feat(engine): ignore cordoned GPU nodes from cluster status
  dispatcher/internal/clusterstatus/manager.go
  dispatcher/internal/clusterstatus/manager_test.go
Labels: enhancement

#323 feat(dispatcher): be able to configure cluster status update interval
  deployments/dispatcher/templates/configmap.yaml
  deployments/dispatcher/values.schema.json
  deployments/dispatcher/values.yaml
  dispatcher/cmd/run.go
  dispatcher/internal/clusterstatus/manager.go
  dispatcher/internal/config/config.go
Labels: enhancement

#324 fix(server): add ingress path for /llmariner.jobs.server.v1.JobWorkerService`
  deployments/server/templates/ingress.yaml
Labels: bug

#325 feat(dispatcher): pull queued workloads only from an assigned cluster
  server/internal/server/batch_server.go
  server/internal/server/batch_server_test.go
  server/internal/server/jobs.go
  server/internal/server/jobs_test.go
  server/internal/server/notebooks.go
  server/internal/server/notebooks_test.go
  server/internal/store/batchjob.go
  server/internal/store/job.go
  server/internal/store/job_test.go
  server/internal/store/notebook.go
Labels: enhancement

#326 fix(server): sort the cluster list in ListClusters
  server/internal/server/server.go
Labels: bug

#327 feat(server): add index to the cluster_id column of clusters
  server/internal/store/cluster.go
Labels: enhancement

#328 chore(server): cleanup indices and remove unused columns
  server/internal/server/batch_server.go
  server/internal/server/jobs.go
  server/internal/server/notebooks.go
  server/internal/store/batchjob.go
  server/internal/store/job.go
  server/internal/store/notebook.go
Labels: skip-changelog

#329 ci: add scripts for setup a job-manager test environment
  .gitignore
  Makefile
  hack/create-kind-cluster.sh
  hack/helm-apply-deps.sh
  hack/helm-apply-llma.sh
  hack/kind-config.yaml
  hack/overwrite-llma-chart-for-test.py
  hack/overwrite-llma-chart-for-test.sh
  hack/values-cp.yaml
  hack/values-wp.yaml
  hack/values.yaml
  provision.mk
Labels: skip-changelog

#330 chore(chart): remove an unnecessary space in values.yaml
  deployments/dispatcher/values.yaml
Labels: skip-changelog

#331 ci(hack): disable redis secret for dev environment
  hack/values.yaml
Labels: skip-changelog

#332 feat(api): add SyncerService for put and delete k8s objects
  api/v1/syncer_service.pb.go
  api/v1/syncer_service.proto
  api/v1/syncer_service.swagger.json
  api/v1/syncer_service_grpc.pb.go
  dist/api/v1/job_manager_server.pb.d.ts
  dist/api/v1/job_manager_server.pb.js
  dist/api/v1/job_manager_server_worker.pb.d.ts
  dist/api/v1/job_manager_server_worker.pb.js
  dist/api/v1/legacy/batch_service.pb.d.ts
  dist/api/v1/legacy/batch_service.pb.js
  dist/api/v1/legacy/job_manager_service.pb.d.ts
  dist/api/v1/legacy/job_manager_service.pb.js
  dist/api/v1/legacy/workspace_service.pb.d.ts
  dist/api/v1/legacy/workspace_service.pb.js
  dist/api/v1/syncer_service.pb.d.ts
  dist/api/v1/syncer_service.pb.js
  ts/api/v1/syncer_service.pb.ts
Labels: enhancement

#333 feat(server): add syncer service server
  deployments/server/templates/configmap.yaml
  deployments/server/templates/deployment.yaml
  deployments/server/templates/ingress.yaml
  deployments/server/templates/service.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  hack/values-cp.yaml
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/server/syncer_server.go
Labels: enhancement

#334 fix(chart): fix line handling for server ingress resources
  deployments/server/templates/ingress.yaml
Labels: bug

#335 feat(chart): add logLevel fields
  deployments/dispatcher/templates/deployment.yaml
  deployments/dispatcher/values.schema.json
  deployments/dispatcher/values.yaml
  deployments/server/templates/deployment.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: enhancement

#337 ci: update the provisioning scripts for the dev environment
  hack/create-kind-cluster.sh
  hack/kind-config.yaml
  hack/values-cp.yaml
  hack/values-wp.yaml
  provision.mk
Labels: skip-changelog

#336 feat(server): implement syncer service APIs
  server/internal/k8s/client.go
  server/internal/server/jobs_test.go
  server/internal/server/syncer_server.go
Labels: enhancement

#338 chore: add experimental Slurm server
  experimental/slurm/Makefile
  experimental/slurm/README.md
  experimental/slurm/api/v0040/api.go
  experimental/slurm/api/v0040/api.json
  experimental/slurm/api/v0040/config.yaml
  experimental/slurm/api/v0040/gen.go
  experimental/slurm/go.mod
  experimental/slurm/go.sum
  experimental/slurm/server/cmd/main.go
  experimental/slurm/server/cmd/root.go
  experimental/slurm/server/cmd/run.go
  experimental/slurm/server/internal/config/config.go
  experimental/slurm/server/internal/server/a.py
  experimental/slurm/server/internal/server/server.go
  experimental/slurm/tools/tools.go
Labels: skip-changelog

#339 feat(syncer): add empty syncer component
  Makefile
  build/syncer/Dockerfile
  provision.mk
  syncer/cmd/main.go
  syncer/cmd/run.go
  syncer/internal/config/config.go
Labels: enhancement

#341 chore(slurm): add a simple slurm request proxy
  experimental/slurm/README.md
  experimental/slurm/go.mod
  experimental/slurm/hack/config.yaml
  experimental/slurm/server/cmd/run.go
  experimental/slurm/server/internal/config/config.go
  experimental/slurm/server/internal/server/proxy.go
  experimental/slurm/server/internal/server/server.go
Labels: skip-changelog

#340 feat(chart): add syncer chart
  Makefile
  deployments/syncer/.helmignore
  deployments/syncer/Chart.yaml
  deployments/syncer/README.md
  deployments/syncer/templates/_helpers.tpl
  deployments/syncer/templates/clusterrole.yaml
  deployments/syncer/templates/clusterrolebinding.yaml
  deployments/syncer/templates/configmap.yaml
  deployments/syncer/templates/deployment.yaml
  deployments/syncer/templates/serviceaccount.yaml
  deployments/syncer/values.schema.json
  deployments/syncer/values.yaml
  hack/update-chart-version.sh
  syncer/cmd/run.go
  syncer/internal/config/config.go
Labels: enhancement

#342 ci(merge): support syncer in merge pipeline
  .github/workflows/ci-post-merge.yml
Labels: skip-changelog

#343 ci(provision): add scripts to deploy syncer to the dev cluster
  hack/helm-apply-llma.sh
  hack/overwrite-llma-chart-for-test.py
  hack/values-tn.yaml
  hack/values.yaml
  provision.mk
Labels: skip-changelog

#344 chore(slurm): remove a Python script added by mistake
  experimental/slurm/server/internal/server/a.py
Labels: skip-changelog

#345 chore(slurm): forward job submission request
  experimental/slurm/server/internal/server/server.go
Labels: skip-changelog

#346 feat(notebooks): set env var for an org ID and a project ID
  api/v1/workspace_service.pb.go
  api/v1/workspace_service.proto
  api/v1/workspace_service.swagger.json
  server/internal/server/notebooks.go
  ts/api/v1/workspace_service.pb.ts
Labels: enhancement

#347 feat(syncer): add job controller
  deployments/syncer/templates/clusterrole.yaml
  provision.mk
  syncer/cmd/run.go
  syncer/internal/controller/job.go
  syncer/internal/controller/job_test.go
Labels: enhancement

#348 feat(proto): add state and action for rescheduling jobs
  api/v1/workspace_service.pb.go
  api/v1/workspace_service.proto
  api/v1/workspace_service.swagger.json
  dist/api/v1/workspace_service.pb.d.ts
  dist/api/v1/workspace_service.pb.js
  ts/api/v1/workspace_service.pb.ts
Labels: enhancement

#349 feat(server): add fields in notebook table
  server/internal/server/notebooks.go
  server/internal/server/notebooks_test.go
  server/internal/store/notebook.go
Labels: enhancement

#350 feat(dispatcher): set env vars for org and project when creating a no…
  dispatcher/internal/dispatcher/notebook.go
Labels: enhancement

#351 feat: add org/project title and cluster name to proto
  api/v1/batch_service.pb.go
  api/v1/batch_service.proto
  api/v1/batch_service.swagger.json
  api/v1/job_manager_service.pb.go
  api/v1/job_manager_service.proto
  api/v1/job_manager_service.swagger.json
  api/v1/workspace_service.pb.go
  api/v1/workspace_service.proto
  api/v1/workspace_service.swagger.json
  dist/api/v1/batch_service.pb.d.ts
  dist/api/v1/job_manager_service.pb.d.ts
  dist/api/v1/workspace_service.pb.d.ts
  go.mod
  go.sum
  server/internal/scheduler/scheduler.go
  server/internal/server/batch_server.go
  server/internal/server/jobs.go
  server/internal/server/notebooks.go
  ts/api/v1/batch_service.pb.ts
  ts/api/v1/job_manager_service.pb.ts
  ts/api/v1/workspace_service.pb.ts
Labels: enhancement

#353 chore: remove legacy llmoperator related code
  deployments/server/templates/ingress.yaml
  dist/api/v1/legacy/batch_service.pb.d.ts
  dist/api/v1/legacy/batch_service.pb.js
  dist/api/v1/legacy/job_manager_service.pb.d.ts
  dist/api/v1/legacy/job_manager_service.pb.js
  dist/api/v1/legacy/workspace_service.pb.d.ts
  dist/api/v1/legacy/workspace_service.pb.js
  server/internal/server/server.go
  submit_job.json
  ts/api/v1/legacy/batch_service.pb.ts
  ts/api/v1/legacy/job_manager_service.pb.ts
  ts/api/v1/legacy/workspace_service.pb.ts
Labels: skip-changelog

#354 feat: allow non-gpu workloads to schedule to a no-gpu cluster
  server/internal/scheduler/scheduler.go
  server/internal/scheduler/scheduler_test.go
  server/internal/server/batch_server.go
  server/internal/server/jobs.go
  server/internal/server/jobs_test.go
  server/internal/server/notebooks.go
  server/internal/server/server.go
  server/internal/server/syncer_server.go
Labels: enhancement

#355 ci(provision): remove workaournd scripts for syncer
  hack/helm-apply-llma.sh
  hack/overwrite-llma-chart-for-test.py
Labels: skip-changelog

#358 chorek(slurm): add v0041 api
  experimental/slurm/Makefile
  experimental/slurm/README.md
  experimental/slurm/api/v0041/api.go
  experimental/slurm/api/v0041/api.json
  experimental/slurm/api/v0041/config.yaml
  experimental/slurm/api/v0041/gen.go
Labels: skip-changelog

#359 chore(slurm): support multiple proxies
  experimental/slurm/hack/config.yaml
  experimental/slurm/server/cmd/run.go
  experimental/slurm/server/internal/config/config.go
  experimental/slurm/server/internal/server/proxy.go
  experimental/slurm/server/internal/server/server.go
Labels: skip-changelog

#361 ci(provision): fix provision target
  provision.mk
Labels: skip-changelog

#360 feat(syncer): add a syncer to reflect job status in local resources
  deployments/syncer/templates/clusterrole.yaml
  deployments/syncer/templates/configmap.yaml
  deployments/syncer/values.schema.json
  deployments/syncer/values.yaml
  go.mod
  hack/values-tn.yaml
  syncer/cmd/run.go
  syncer/internal/config/config.go
  syncer/internal/controller/job.go
  syncer/internal/controller/syncer.go
Labels: enhancement
