Repository llmariner/job-manager, pull requests merged in 2025-02, with the labels that each got.

#362 chore: add verbose logging to scheduler
  server/internal/scheduler/scheduler.go
Labels: skip-changelog

#363 chore: add last_updated_at to the Cluster proto
  api/v1/job_manager_server.pb.go
  api/v1/job_manager_server.proto
  api/v1/job_manager_server.swagger.json
  buf.lock
  dist/api/v1/job_manager_server.pb.d.ts
  server/internal/server/server.go
  ts/api/v1/job_manager_server.pb.ts
Labels: skip-changelog

#364 feat: expose ListClusters and add more fields
  api/v1/job_manager_server.pb.go
  api/v1/job_manager_server.pb.gw.go
  api/v1/job_manager_server.proto
  api/v1/job_manager_server.swagger.json
  deployments/server/templates/ingress.yaml
  dist/api/v1/job_manager_server.pb.d.ts
  dist/api/v1/job_manager_server.pb.js
  server/internal/server/server.go
  ts/api/v1/job_manager_server.pb.ts
Labels: enhancement

#365 chore: rename fine-tuning related code
  api/v1/fine_tuning_service.pb.go
  api/v1/fine_tuning_service.pb.gw.go
  api/v1/fine_tuning_service.proto
  api/v1/fine_tuning_service.swagger.json
  api/v1/fine_tuning_service_grpc.pb.go
  server/internal/server/fine_tuning.go
  server/internal/server/fine_tuning_test.go
  ts/api/v1/fine_tuning_service.pb.ts
Labels: skip-changelog

#366 chore: move ListClusters to a separate file
  server/internal/server/clusters.go
  server/internal/server/clusters_test.go
  server/internal/server/server.go
Labels: skip-changelog

#368 fix: register the HTTP handler for /v1/jobs
  server/cmd/run.go
Labels: bug

#369 chore: move UpdateClusterStatus to server/clusters.go
  server/internal/server/clusters.go
  server/internal/server/clusters_test.go
  server/internal/server/ws_server.go
  server/internal/server/ws_server_test.go
Labels: skip-changelog

#370 feat: populate the cluster name in ListClusters response
  go.mod
  go.sum
  server/internal/server/clusters.go
  server/internal/store/cluster.go
Labels: enhancement

#371 feat: populate the gpu capacity in ListClusters response
  server/internal/server/clusters.go
  server/internal/server/clusters_test.go
Labels: enhancement

#372 feat: track pods that use GPUs in cluster status
  api/v1/job_manager_server.swagger.json
  api/v1/job_manager_server_worker.pb.go
  api/v1/job_manager_server_worker.proto
  api/v1/job_manager_server_worker.swagger.json
  dispatcher/internal/clusterstatus/manager.go
  dispatcher/internal/clusterstatus/manager_test.go
  dist/api/v1/job_manager_server_worker.pb.d.ts
  ts/api/v1/job_manager_server_worker.pb.ts
Labels: enhancement

#373 feat: populate gpu_allocated and gpu_pod_count
  api/v1/job_manager_server.pb.go
  api/v1/job_manager_server.proto
  api/v1/job_manager_server.swagger.json
  dist/api/v1/job_manager_server.pb.d.ts
  server/internal/server/clusters.go
  server/internal/server/clusters_test.go
  ts/api/v1/job_manager_server.pb.ts
Labels: enhancement

#375 feat(server/syncer): add ListClusterIDs service
  api/v1/syncer_service.pb.go
  api/v1/syncer_service.proto
  api/v1/syncer_service.swagger.json
  api/v1/syncer_service_grpc.pb.go
  dist/api/v1/syncer_service.pb.d.ts
  dist/api/v1/syncer_service.pb.js
  server/internal/server/syncer_server.go
  syncer/internal/controller/job_test.go
  ts/api/v1/syncer_service.pb.ts
Labels: enhancement

#374 feat(server/syncer): set up auth intercepter
  server/cmd/run.go
  server/internal/server/syncer_server.go
Labels: enhancement

#376 feat(syncer): support authentication between syncer and control-plane
  deployments/syncer/templates/deployment.yaml
  deployments/syncer/values.schema.json
  deployments/syncer/values.yaml
  hack/values-cp.yaml
  syncer/cmd/run.go
  syncer/internal/controller/job.go
  syncer/internal/controller/syncer.go
Labels: enhancement

#377 feat: bump rbac-manager dep
  go.mod
  go.sum
Labels: enhancement

#357 feat(server,dispatcher): handle notebook requeue
  dispatcher/internal/dispatcher/dispatcher.go
  hack/overwrite-llma-chart-for-test.py
  hack/values.yaml
  provision.mk
  server/cmd/run.go
  server/internal/scheduler/scheduler.go
  server/internal/scheduler/scheduler_test.go
  server/internal/server/batch_server.go
  server/internal/server/fine_tuning.go
  server/internal/server/fine_tuning_test.go
  server/internal/server/notebooks.go
  server/internal/server/notebooks_test.go
  server/internal/server/rescheduler.go
  server/internal/server/rescheduler_test.go
  server/internal/server/server.go
  server/internal/server/syncer_server.go
  server/internal/store/notebook.go
  server/internal/store/notebook_test.go
Labels: enhancement

#380 fix: add watch to pod in clusterrole
  deployments/dispatcher/templates/clusterrole.yaml
Labels: bug

#379 feat(syncer): be able to enable TLS
  deployments/syncer/templates/configmap.yaml
  deployments/syncer/templates/deployment.yaml
  deployments/syncer/values.schema.json
  deployments/syncer/values.yaml
  syncer/cmd/run.go
  syncer/internal/config/config.go
Labels: enhancement

#381 feat: make the scheduler take into allocted GPUs
  server/internal/scheduler/scheduler.go
  server/internal/scheduler/scheduler_test.go
Labels: enhancement

#383 chore: update the api key env name
  deployments/syncer/templates/deployment.yaml
  syncer/internal/controller/syncer.go
Labels: skip-changelog

#384 feat(proto): add namespaced_name field to GpuPod
  api/v1/job_manager_server.swagger.json
  api/v1/job_manager_server_worker.pb.go
  api/v1/job_manager_server_worker.proto
  api/v1/job_manager_server_worker.swagger.json
  dist/api/v1/fine_tuning_service.pb.d.ts
  dist/api/v1/fine_tuning_service.pb.js
  dist/api/v1/job_manager_server_worker.pb.d.ts
  ts/api/v1/job_manager_server_worker.pb.ts
Labels: enhancement

#385 feat(dispatcher): ingest a namespaced name to GpuPod
  dispatcher/internal/clusterstatus/manager.go
  dispatcher/internal/clusterstatus/manager_test.go
Labels: enhancement

#387 chore(scheduler): get a cluster name from store.Cluster
  server/internal/scheduler/scheduler.go
Labels: skip-changelog

#389 fix(syncer): explicitly specify the deletion propagation policy
  server/internal/k8s/client.go
Labels: bug

#390 ci(provision): remove preloaded image setting for session-manager
  hack/values-cp.yaml
Labels: skip-changelog

#386 feat(server): cache cluster state and reserved scheduled resources
  server/cmd/run.go
  server/internal/cache/cluster.go
  server/internal/cache/cluster_test.go
  server/internal/scheduler/scheduler.go
  server/internal/scheduler/scheduler_test.go
  server/internal/server/batch_server.go
  server/internal/server/batch_server_test.go
  server/internal/server/clusters.go
  server/internal/server/clusters_test.go
  server/internal/server/fine_tuning.go
  server/internal/server/fine_tuning_test.go
  server/internal/server/notebooks.go
  server/internal/server/notebooks_test.go
  server/internal/server/rescheduler_test.go
  server/internal/server/server.go
  server/internal/server/syncer_server.go
  server/internal/server/ws_server.go
  server/internal/store/cluster.go
  server/internal/store/cluster_test.go
Labels: enhancement

#391 ci(provision): update provision scripts to match the latest llmariner
  hack/values-cp.yaml
  provision.mk
Labels: skip-changelog

#388 feat: implement a scheduling scoring algorithm
  server/internal/scheduler/scheduler.go
  server/internal/scheduler/scheduler_test.go
Labels: enhancement

#392 feat(syncer): update local job status when failed to apply a job
  syncer/internal/controller/job.go
  syncer/internal/controller/job_test.go
Labels: enhancement

#393 feat: validate the cluster registration key
  dispatcher/cmd/run.go
  go.mod
  go.sum
Labels: enhancement

#394 fix: bump rbac-manager
  go.mod
  go.sum
Labels: bug

#395 fix: tweak the requirements.txt for fine-tuning docker image
  build/fine-tuning/requirements.txt
Labels: bug

#296 feat: bump the image of fine-tuning jobs
  deployments/dispatcher/values.schema.json
  deployments/dispatcher/values.yaml
Labels: enhancement

#398 feat: always set token in notebook response
  api/v1/workspace_service.pb.go
  api/v1/workspace_service.proto
  api/v1/workspace_service.swagger.json
  buf.lock
  server/internal/server/notebooks.go
Labels: enhancement
