Repository llmariner/job-manager, pull requests merged in 2025-04, with the labels that each got.

#427 fix: add an option to disable JobSet sync
  deployments/syncer/templates/configmap.yaml
  deployments/syncer/values.schema.json
  deployments/syncer/values.yaml
  syncer/cmd/run.go
  syncer/internal/config/config.go
Labels: bug

#428 fix: fix jobControllerName
  syncer/internal/controller/job.go
Labels: bug

#430 fix: fix a bug in the jobSets field in configmap
  deployments/syncer/templates/configmap.yaml
  deployments/syncer/values.schema.json
  deployments/syncer/values.yaml
Labels: bug

#429 fix: make syncer use SyncedKinds
  syncer/cmd/run.go
  syncer/internal/config/config.go
  syncer/internal/controller/syncer.go
Labels: bug

#432 fix: pass gvr to syncDeleted
  syncer/internal/controller/common.go
  syncer/internal/controller/job.go
  syncer/internal/controller/jobset.go
Labels: bug

#433 fix: correctly set syncedKinds in SetupWithManager
  syncer/internal/controller/syncer.go
Labels: bug

#435 feat(server): specify gpu count for ft job api
  api/v1/fine_tuning_service.pb.go
  api/v1/fine_tuning_service.proto
  api/v1/fine_tuning_service.swagger.json
  buf.lock
  dist/api/v1/fine_tuning_service.pb.d.ts
  ts/api/v1/fine_tuning_service.pb.ts
Labels: enhancement

#436 fix: return an error if a non-HF model is used for fine-tuning
  go.mod
  go.sum
  server/internal/server/fine_tuning.go
  server/internal/server/fine_tuning_test.go
Labels: bug

#438 fix: fix Dockerfile of fake-job
  build/fake-job/Dockerfile
Labels: bug

#440 feat(server,dispatcher): specify gpu count in create job reequest
  api/v1/fine_tuning_service.pb.go
  api/v1/fine_tuning_service.proto
  api/v1/fine_tuning_service.swagger.json
  dispatcher/internal/dispatcher/job_client.go
  dispatcher/internal/dispatcher/job_client_test.go
  dispatcher/internal/dispatcher/testdata/command.basic.golden
  dist/api/v1/fine_tuning_service.pb.d.ts
  server/internal/scheduler/scheduler.go
  server/internal/scheduler/scheduler_test.go
  server/internal/server/fine_tuning.go
  server/internal/server/fine_tuning_test.go
  ts/api/v1/fine_tuning_service.pb.ts
Labels: enhancement

#441 chore(dispatcher): deprecate gpu numbers in job config
  deployments/dispatcher/templates/configmap.yaml
  deployments/dispatcher/values.schema.json
  deployments/dispatcher/values.yaml
  dispatcher/internal/config/config.go
  dispatcher/internal/dispatcher/job_client.go
  dispatcher/internal/dispatcher/job_client_test.go
Labels: skip-changelog

#442 fix: do not allow to fine-tune a fine-tuned model
  server/internal/server/fine_tuning.go
Labels: bug

#448 feat(server): encrypt apikey and token in notebook table
  deployments/server/templates/configmap.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/server/batch_server_test.go
  server/internal/server/clusters_test.go
  server/internal/server/fine_tuning_test.go
  server/internal/server/notebooks.go
  server/internal/server/notebooks_test.go
  server/internal/server/rescheduler_test.go
  server/internal/server/server.go
  server/internal/store/data_key.go
  server/internal/store/notebook.go
  server/internal/store/store.go
Labels: enhancement
